<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net45" />
  <package id="dotConnect.Express.for.Oracle" version="8.4.313" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="Selenium.RC" version="2.53.0" targetFramework="net45" />
  <package id="Selenium.Support" version="2.53.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.53.0" targetFramework="net45" />
  <package id="Selenium.WebDriverBackedSelenium" version="2.53.0" targetFramework="net45" />
</packages>